<%= render @style %>

<div id="all styles">
<strong>Beers:</strong>
  <ul>
    <% @beers.each do |beer| %>
      <% if beer.style == @style %>
        <li><%= link_to beer.name, beer %> 
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div>
  <%= edit_and_destroy_buttons(@style) %><br>
  <%= link_to "Back to styles", styles_path %>
</div>
